<!DOCTYPE html>
<html>
  <head>
    <title>My First Real RoR Sample App | Contact</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the contact page for my first RoR sample application.
    </p>
  </body>
</html>